body {margin: 0;padding: 0;font-family: sans-serif;}
.labelfield{ /*CSS for label field in general*/
    color:brown;
    font-size: 90%;
    }
    
    .datefield{ /*CSS for date field in general*/
    color:gray;
    font-size: 90%;
    }
    
    #example1 li
    { /*CSS specific to demo 1*/
    margin-bottom:30px;
    }
   
    #example1 div
    { /*CSS specific to demo 1*/
        margin-bottom: 30px;
    }
    
    .feed {
        padding-bottom:30px;
        margin-left: 40px;
    }
   div.NBU{
       
   }
    
    code{ /*CSS for insructions*/
    color: red;
    }