
.struct{
    display:grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
}


.labelfield{ /*CSS for label field in general*/
    color:brown;
    font-size: 90%;
    }
    
    .datefield{ /*CSS for date field in general*/
    color:gray;
    font-size: 90%;
    }
    
    #example1 li
    { /*CSS specific to demo 1*/
    margin-bottom:30px;
    }
   
   
    
    .feed {
        padding-bottom:30px;
        margin-left: 40px;
    }
   .NBU div>p, .MINFIN div>p{
   
    width:70%;
    margin-bottom:30px;
    margin-left: 40px;
    border: 4px dotted white;
    background-color:rgba(199, 193, 193, 0.445);
    color: orange;
    font-size: 20px;
   }

   .NBU div>p:hover, .MINFIN div>p:hover{
       color: rgba(163, 123, 14, 0.438);
       text-decoration:underline;
   }
   .NBU h3, .MINFIN h3{
    font-size: 30px;   
   
    position: relative; 
   
   }
    
    code{ /*CSS for insructions*/
    color: red;
    }