.labelfield{ /*CSS for label field in general*/
    color:brown;
    font-size: 90%;
    }
    
    .datefield{ /*CSS for date field in general*/
    color:gray;
    font-size: 90%;
    }
    
    #example1 li
    { /*CSS specific to demo 1*/
    margin-bottom:30px;
    }
   
   
    
    .feed {
        padding-bottom:30px;
        margin-left: 40px;
    }
   .NBU div>p, .MINFIN div>p{
   
    width:70%;
    margin-bottom:30px;
    margin-left: 40px;
    border: 4px dotted blue;
    background-color: grey;
   }

   .NBU div>p:hover{
       color: rgba(0, 255, 255, 0.438);
   }
   .NBU h3, .MINFIN h3{
    font-size: 30px;   
    display: inline-block;
       text-align: center;
       margin-left: 100px;
   }
    
    code{ /*CSS for insructions*/
    color: red;
    }